@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body {
	background: #141414;
	color: #fff;
}

img {
	pointer-events: none;
}
